version: "3"

services:
  redis:
    image: redis

  api:
    build: .
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
    depends_on:
      - redis
    # volumes:
    #   - .:/app
    # command: npm run dev
